.hero {
    color: white;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
  
    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;
        

        img {
            width: 280px;
            height: 220px;
            object-fit: cover;

        }
    }
}